$color1: #7b8ea7;
$color2: #3c3e4e;
$color3: DarkSlateGrey;
$color4: #2b3a42;
$color5: #3a3e4f;
$color6: #FF8F00;

$colorAccent: #FB8C00;


$fontColor1: yellow;
$fontColor2: #b0bbca;

$border-color: $color1;


$row-height: 1.5rem;
$cell-width: 64px;


// header
$header-height: 34px;

//toolbar
$toolbar-height: 34px;

//formula
$formula-height: 34px;
$info-cell-with: 64px;


//dashboard
$dashboard-header-height: 68px;
