* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-family: 'Roboto', sans-serif;
	background: $color5;
	font-size: 16px;
	font-weight: 100;
}

h1{
	font-family: 'Roboto Thin' , sans-serif;
	font-size: 3rem;
	font-weight: inherit;
}

.container{
	padding-left: 40px;
	padding-right: 40px;
	display: flow-root;
	box-sizing: content-box;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


.light{
	color: #fff;
}

.margin{
	&-top{
		margin-top: 4rem;
	}
}

.excel{
	position: relative;
	
}