* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html{
	font-family: 'Roboto', sans-serif;
	background: $color5;
	font-size: 16px;
	font-weight: 100;
}

body{
	min-height: 400vh;
}

h1{
	font-family: 'Roboto Thin' , sans-serif;
	font-size: 3rem;
	font-weight: inherit;
	margin: 0 0 2rem;

}

h2{
	font-size: 2rem;
	color: $color1;
	font-weight: inherit;
	margin: 2rem 0 1.5rem;

}

h3{
	font-size: 1.5rem;
	color: $color1;
	font-weight: inherit;
	margin: 1.5rem 0 1rem;
}

p{
	font-size: 1rem;
	color: $fontColor2;
	margin: 0.5rem 0;
}

.container{
	padding-left: 40px;
	padding-right: 40px;
	display: flow-root;
	box-sizing: content-box;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


.light{
	color: #fff;
}

.margin{
	&-top{
		margin-top: 4rem;
	}
}

.excel{
	position: relative;
	height: 80vh;
	max-width: 100%;
}

.invisible{
	display: none;
}


//draggable
.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-bottom: 5rem;
}

.box{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 3rem;
	box-sizing: border-box;
	border: 2px solid #efefef;
	border-radius: 0.5rem;
	opacity: 1;	
}

.dropzone{
	min-height: 3rem;
	border: 1px solid $color1;
	border-radius: 0.5rem;
}




